*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header css */
.nav-menu {
    flex-basis: 10%;
}

.header-image {
    flex-basis: 3%;
}
.header-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 40px;
}